.card-wrapper {
  margin: 5% 0;
}

.custom-circle-image {
  width: 10vw; 
  height: 10vw;
}

.custom-circle-image img {
  object-fit: cover;
}

.card-title {
  letter-spacing: 1.1px;
}

.card-text {
  font-family: MerriweatherRegular;
  font-size: 22px;
  line-height: initial;
}

.dropzone {
  border-style: dashed;
}

.error {
  font-family: MerriweatherRegular;
  font-size: 30px;
  line-height: initial;
  color: #495371;
  text-align: center;
}

.text-features {
    text-align: center;
    font-weight: normal;
    letter-spacing: 2px;
    color: #E5E3C9;
    background-color: #495371;
}

#main-heading {
    background-color: #495371;
    padding:128px 16px;
    margin: 20 20 58px;
    text-align: center;
}

#heading-text {
    color: #F6D860;
    font-size: 35px;
    font-weight: lighter;
    letter-spacing: 10px;
}


#descrip {
  padding-top: 100px;
  padding-bottom: 10px;
  text-align: center;
  font-weight:normal;
  letter-spacing: 2px;
}

#classTable {
  font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

#classTable td,
#classTable th {
  border: 1px solid #ddd;
  padding: 8px;
}

#classTable th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: left;
  background-color: #495371;
  color: white;
}
